<h1>New Restaurant</h1>

<% if @restaurant.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="alert alert-success">
    <p>Restaurant was successfully created.</p>
  </div>
<% end %>

<p>
  <%= link_to 'Back to Restaurants', restaurants_path %>
</p>
